<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg primary"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header primary" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    people
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Usuarios</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div fxFlex="25" class="search-wrapper  ml-sm-32" style="background-color: #fff; color: rgba(0,0,0,.54);">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar" (keyup)="applyFilter($event.target.value)" *ngIf="loginService.hasPermission(['user-users-read'])">
                </div>
            </div>
            <!-- / SEARCH -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

                <!-- Avatar Column -->
                <!--
                <ng-container matColumnDef="avatar">
                    <mat-cell *matCellDef="let user">
                        <img *ngIf="!user.avatar" class="avatar mr-0 mr-sm-16" src="assets/images/avatars/avatar.png">
                        <img *ngIf="user.avatar" [src]="user.avatar" class="avatar mr-0 mr-sm-16" />
                    </mat-cell>
                </ng-container>
                -->

                <!-- firstname Column -->
                <ng-container matColumnDef="firstname">
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{ user.firstname }}</p>
                    </mat-cell>
                </ng-container>


                <!-- lastname Column -->
                <ng-container matColumnDef="lastname">
                    <mat-cell *matCellDef="let user">
                        <p class="text-truncate">{{ user.lastname }} {{ user.second_lastname }}</p>
                    </mat-cell>
                </ng-container>


                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <mat-cell *matCellDef="let user" fxLayoutAlign="end center">
                        <p class="text-truncate">{{ user.email }}</p>
                    </mat-cell>
                </ng-container>


                <mat-row *matRowDef="let user; columns: displayedColumns;" matRipple [routerLink]="'/admin/user/users/edit/'+user._id">
                </mat-row>
            </mat-table>

            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

            <button mat-fab class="add-contact-button" [routerLink]="'/admin/user/users/create'" *ngIf="loginService.hasPermission(['user-users-create'])">
                <mat-icon aria-label="Example icon-button with a heart">add</mat-icon>
            </button>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>